

Flask==3.1.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
psycopg2==2.9.10
SQLAlchemy==2.0.41
scikit-learn==1.7.1
pandas==2.3.1
matplotlib==3.10.3
numpy==2.3.1
captcha==0.7.1
gunicorn==21.2.0
