<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; align-items: center;">
        <div style="margin-left: 12px; line-height: 1.5rem; color: #434747;">
            <h1>XIN LỖI QUÝ KHÁCH</h1>
            <h3>Có trục trặc gì đó...<br> Hệ thống đang trong quá trình phân tích lỗi! Qúy khách vui lòng tải lại trang để sử dụng lại. Xin cảm ơn !</h3>
            <a style="padding: 8px;
            background-color: #2c75db;
            text-decoration: none;
            color: aliceblue;
            border-radius: 5px;" href="/">Tải lại trang</a>
        </div>
        <div>
            <img src="{{ url_for('static',filename='img/default_maintenance.png') }}" alt="">
        </div>
    </div>
</body>
</html>